<div id="fadeIn">
    <div class="col-xs-offset-2 col-xs-8">

  <!--      <img src="http://localhost:63342/Veverion%20-%20Web/resources/images/Simba-logo-potpis.png" height="120" width="240"/>-->
        <img src="resources/images/Simba-logo-potpis.png"  class="simbaLogo"/>
        <img src="resources/images/aholddelhaize-logo.png"  class="delhaizeLogo"/>

    </div>
</div>



    <div class="row">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-8 mg_b5">
            <input class="width_100" type="text" placeholder=" Tvoj email">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-8 mg_b5">
            <input class="width_100" type="text" placeholder=" Tvoja lozinka">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-8 mg_b5">
            <button ng-click="go('/location')" class="btn primaryCollor width_100">PRIJAVI SE</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-8 mg_b5">
            <small><input type="checkbox"> Upamti me na ovom telefonu</small><br>
            <a href="#">Zaboravljena lozinka? Klikni ovde</a>
        </div>
    </div>
    <div class="row mgt_10">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-8 mg_b5 text-center">
            <p>- Ili se pirjavi pomocu -</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-8 text-left">
            <button class="faceButton">Facebook</button>
            <button class="googleButton">Google</button>
            <button class="twitterButton">Twitter</button>
        </div>
    </div>
    <div class="row mgt_10">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-8 mg_b5 text-center">
            <p>- Nemas profil? -</p>
            <button ng-click="go('/signin')" class="btn primaryCollor width_100">KREIRAJ PROFIL</button>
        </div>
    </div>


